body, html {
  height: 100% !important;
  width: 100%;
  margin: 0;
  background-color: #f0f3f7 !important;
}

.app-logo{
  padding-left: 50px;
}

.sidebar {
  display: flex;
  height: 100vh;
  float: left;
  overflow: 'scroll initial';
}

.side-row {
  padding: 30px;
}

* {
  box-sizing: border-box;
}

/* .container {
  display: flex;
  flex-wrap: wrap;
} */

.card {
  padding: 1%;
  flex: 1 0 50%;
  height: 50vh;
}