.barre-menu {
    background-color: #011f29;
    color :#eeeeee;

}
.message-bievenue{
    color: #eeeeee;
    font-size: 4rem;
    padding-top: 5rem;
    text-align: center;
    margin-bottom: 5rem;
}
.message-bievenue span{
    color: #fea501;
}
.barre-menu ul li {
    list-style: none;
    display: block;
    padding : 1rem 2rem;

}
.barre-menu ul li:last-child{
    position: absolute;
    right: 0;
}
.barre-menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
}

.nos-service{
    min-height: 70vh;
    background-color: #f0f3f7;
    padding: 4rem 0;
}
.nos-service h1{
    text-align: center;
    margin-bottom: 4rem;
    color: #fea501;
}

.footer-home{
    background-color: #011f29;
    color :#eeeeee;
    min-height: 20vh;
    display: flex;
    /* justify-content: center; */
    gap: 1rem;
   
    padding: 3rem 0;
}



.card-home{
    width: 300px;
    position: relative;
    /* margin: .5rem; */
    border: 1px solid #011f29;
    border-radius: .8rem;
    min-height: 375px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* margin-top: 50px; */
}
/* .card-body-home{
    padding: 1rem;
    text-align: center;
} */
/* .card-body-home button{
    background-color: transparent;
    border: 1px solid #fea501;
    padding: .3em 3em;
    color: #fea501;
    border-radius: 3px;
    outline: none;
    margin: 1rem 0;

} */

.card-body-home-1{
   
    text-align: center;
    margin-top: 10px;
}

.card-body-home-2{
    /* border: 2px solid rebeccapurple; */
    text-align: center;
    margin-top: 10px;
}

.card-body-home-3{
    /* border: 2px solid rebeccapurple; */
    text-align: center;
    margin-top: 15px;
}

.card-body-home-4{
    /* border: 2px solid rebeccapurple; */
    text-align: center;
    margin-top: 25px;
}

.btn_1{
    background-color: transparent;
    border: 1px solid #fea501;
    border-radius: 3px;
    color: #fea501;
    width: 70px;
}

.btn_2{
    background-color: transparent;
    border: 1px solid #fea501;
    border-radius: 3px;
    color: #fea501;
    width: 70px;
}

.btn_3{
    background-color: transparent;
    border: 1px solid #fea501;
    border-radius: 3px;
    color: #fea501;
    width: 70px;
    margin-top: 15px;
}
.btn_4{
    background-color: transparent;
    border: 1px solid #fea501;
    border-radius: 3px;
    color: #fea501;
    width: 70px;
    margin-top: 35px;
}

.card-homme-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.message-bievenue + button{
    outline: none;
    border: 1px solid #011f29;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    background-color: #011f29;
    color: #fea501;
    border-radius: 10rem;
    font-size: 2rem;
    padding: .6rem 6rem;
}
/* .home::before{
    content: '<div>';
    display: block;
    background-color: #011f29;
    
} */

.text-home{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message-bievenue::before {
    content: "";
    display: inline-block;
    width: 0;
    animation: appear 2s ease-in-out;
    animation-iteration-count: 1;
}

.message-bievenue::before:nth-child(1) {
    animation-delay: 0s;
}

.message-bievenue::before:nth-child(2) {
    animation-delay: 2s;
}
/* ... etc ... */

.card-img-top-home-2{
    height: 169px;
}

.card-img-top-home-3{
    height: 170px;
}
.card-img-top-home-4{
    height: 160px;
}

@keyframes appear {
    from { width: 0; }
    to { width: 100%; }
}

/* .body{
    background-color: #f0f3f7;
} */
.home{
    border: 1px solid black;
    height: 350px;
}

.div1{
    /* border: 1px solid rgb(56, 51, 51); */
    width: 250px;
    height: 170px;
    text-align: center;
    margin-left: 30px;
    margin-top: 3px;
    
    
}

.div2{
    /* border: 1px solid rgb(56, 51, 51); */
    width: 250px;
    height: 170px;
    
    margin-left: 150px;
    margin-top: 3px;
    
    
}

.div3{
    /* border: 1px solid rgb(56, 51, 51); */
    width: 250px;
    height: 170px;
    
    
    
    
}

.propos{
    color: #793d05;
    font-size: 20px;
}