


.form-control{
    width: 45%;
}
.formulaire_login{
    padding-top: 70px;
    margin-bottom: 20px;
}

.btn_connexion{
    padding-top: 30px;
    margin-left: 37%;
}

.telephone{
    font-size: 25px;
    margin-left: 5%;
    color: #007bff;
}

.appelez{
    font-size: 25px;
    margin-left: 70px;
   
}





.ou{
    margin-left: 200px;
}

.connectez_vous{
    font-size: 25px;
     margin-left: 130px;
   
}


